:root {
  --col1: #FECB00;
  --col1light: #FECB00AF;
  --col2: #0038A6;
  --col2light: #d7713d55;
  --col2dark: hsla(20, 85%, 32%, 50%);
  --page: #fdfdfd;
  --text: #222222;
  --col3: #555555;
  --midgrey: #ccc;
  --textinv: #eeeeee;
  --bgcol: var(--page);
  --link: var(--col2);
  --vlink: var(--col1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --col1: hsl(70, 0%, 28%);
    --col2: #EEE;
    --col1light: hsl(70, 0%, 60%);
    --col2light: #FECB00;
    --bgcol: #001953;

    --page: var(--bgcol);
    --text: #eeeeee;
    --textinv: #DDD;
    --link: var(--col2light);
    --vlink: var(--text);
    --search-colour: var(--col2light);
  }
}
